@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  --navbar-height: 10vh;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  position: absolute;
  background-color: #f0f0f0;
}

/* Estilos de la barra de navegación */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  justify-content: center;
  background: linear-gradient(to right, #000000, #444448);
  animation: moveGradient 1s linear infinite;
  height: var(--navbar-height); /* Cambiamos a una altura relativa */
}

@keyframes moveGradient {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%; 
  }
}

.logo-icon {
  max-height: var(--navbar-height);
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2vw;
}

.navbar li {
  margin-right: 2vw; 
}

.navbar .btn-nav a {
  display: block;
  padding: 1vh 2vw; 
  color: #fff;
  cursor: pointer;
  background-color: #444448;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.navbar .btn-nav a:hover {
  color: #ffffff;
  background-color: #29292c;
}

.navbar .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw; 
  height: 4vw; 
  background-color: #444448FF;
  border-radius: 50%;
  color: #fff;
}

.icon {
  color: #ffffff !important;
  width: 2.5vw; 
  height: 2.5vw; /* Utilizamos una altura relativa */
  background-color: rgba(255, 0, 0, 0);
}

.icon i:hover{
  color: #f60404;
}

/*QUERYS*/

/*FIN NAVBAR*/

/*HOME*/
.home {
  margin-top: var(--navbar-height);
  background-color: rgba(0, 0, 0, 0.623);
  background-image: url(/img/fondo.jpg);
  background-size: cover;
  background-position: center;
  min-height: 90%;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  position: relative;
  z-index: 1;
}

.imagen-logo {
  width: 30vw; 
  height: auto;
  margin: auto 1vh;
}

.title-container {
  text-align: center;
}
.title {
  font-size: 5vw;
  color: #ffffff;
  margin-bottom: 1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.slogan {
  font-size: 3vw;
  color: #ffffff98;
  margin-bottom: 2vw; 
  font-family: "Roboto", sans-serif;

}
.btn {
  padding: 1vw 8vw; 
  background-color: #444448;
  color: #fff;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  font-size: 2vw; 
  margin-top: 2vw; 
}
.btn:hover {
  background-color: rgba(8, 9, 19, 0.69);
}

/*FIN HOME*/

/*About*/
#about{
  position: relative;
  background-color: #1a1818;
  height: auto;
}


/*#about::before,*/
/*#about::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  width: 300px;*/
/*  height: 300px;*/
/*  background-image: radial-gradient(circle, rgb(68, 68, 72), transparent);*/
/*  border-radius: 50%; */
/*  !*animation: move-circles 10s infinite;*!*/
/*}*/

/*@keyframes move-circles {*/
/*  0% {*/
/*    top: 20px;*/
/*    left: 20px;*/
/*  }*/
/*  50% {*/
/*    top: calc(80vh - 320px); */
/*    left: calc(100vw - 320px); */
/*  }*/
/*  100% {*/
/*    top: 20px;*/
/*    left: 20px;*/
/*  }*/
/*}*/

#about::before {
  top: 20px;
  left: 20px;
}

#about::after {
  bottom: 20px;
  right: 20px;
}


.about {
  text-align: center;
  padding: 50px 20px;
  z-index: 10;

}

.divisor{
  background-color: #1a1818;
  height: 5vh;
}

.about-title{
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #f0f0f0;
  text-decoration: underline;
}

.about-p{
  font-size: 20px;
  max-width: 70%;
  margin: 20px auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #ffffffa9;
}
.card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;

}

.card {
  z-index: 10;
  width: 200px;
  height: 300px; 
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
  filter: blur(5px);
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
  transition: 1s;
}

.overlay-text {
  text-align: center;
  font-size: 16px;
}

.overlay-text span{
  color: #f60404;
  font-size: 20px;
}

.mecanicos{
  margin-top: 10px;
}
.mecanicos .btn-mecanicos{
  background-color: #f60404;
  padding: 10px 20px;
  border-radius: 50px;
  color: #f1f1f1;
  font-size: 20px;
  transition: background-color 0.5s ease;
}
.mecanicos .btn-mecanicos:hover {
  background-color: #444448;
}

.mecanicos .btn-mecanicos:active {
  background-color: #f60404;
}

/*Servicios*/

#service{
background-image: url(../img/fondo-service.jpg);
width: 100%;
height: auto;
background-size: cover;
background-position: center;
position: relative;
}
