<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="../img/brand-logos/favicon.png"/>
    <link rel="stylesheet" href="./css/style-pendiente.css">
    <title>Turnos</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Tipo de Auto</th>
                <th>Ver más info</th>
                <th>Realizado/Pendiente</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nombre 1</td>
                <td>Telefono 1</td>
                <td>Tipo de Auto 1</td>
                <td><button>Ver</button></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Nombre 2</td>
                <td>Telefono 2</td>
                <td>Tipo de Auto 2</td>
                <td><button>Ver</button></td>
                <td><input type="checkbox"></td>
            </tr>
            <!-- Agrega más filas según sea necesario -->
        </tbody>
    </table>
</body>
</html>
